body{ /*selecting body*/
    color: rgb(204, 198, 198); /* font color changed */
    background-color: rgb(66, 62, 62); /* change background color */
}

.content{
    border: 1px groove rgb(204, 198, 198); /* add border width type colot */ 
    margin: 10px; /* outside distane */
    padding: 10px;/* distance between inside (element inside ) */
    width:96%;
    height: 280px;
}
.wrapper{

    border-bottom: 1px dashed rgb(204, 198, 198); /* border bottom */

}
body > div.content > h1{ /* copy selector from chrome dev tools*/ 
    color: rgb(124, 118, 118);
    text-align: center; /*text alignment center*/
    text-transform: uppercase; /* text transformation */
    text-shadow: 2px 3px 3px rgb(228, 224, 224);/* horizontal vertical  blur color; */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2em; /* 1em= 16px*/
}

.content p{
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.3; /* space between each line */
    word-spacing: 8px;
    font-variant: small-caps;
    
    
}
.content a{
    text-decoration: none;
    color: bisque;
    padding:20px;
    background-color: black;
    display: inline-block;
    
}
.content a:hover  {
    color: black;
    padding:20px;
    background-color: bisque;
    cursor: crosshair;

}
.wrapper ul{
    list-style-type: square;
    color: black;
}
.wrapper ol{
    list-style-type: upper-alpha;
}

.table-wrapper table{
    background-color: black;
   
}
.table-wrapper th{
    background-color:yellow;
    color: black;
    border: 1px solid red;
    padding: 5px;
}
.table-wrapper td{
    color: black;
    background-color: #eee;
    text-align:left
}